[Desktop Entry]
Name=Syslinux Customizer
Comment=Customize the syslinux bootloader
Exec=pkexec syslinux-customizer
Icon=grub-customizer
Type=Application
Categories=System;Settings;
Keywords=syslinux;bootloader;configuration;settings;menu;
